In [ ]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
# url = 'https://www.alphavantage.co/query?function=CPI&interval=monthly&apikey='
url = 'https://www.alphavantage.co/query?function=INFLATION&interval=monthly&apikey='
r = requests.get(url)
data = r.json()

print(data)

{'name': 'Inflation - US Consumer Prices', 'interval': 'annual', 'unit': 'percent', 'data': [{'date': '2024-01-01', 'value': '2.94952520485207'}, {'date': '2023-01-01', 'value': '4.11633838374488'}, {'date': '2022-01-01', 'value': '8.00279982052121'}, {'date': '2021-01-01', 'value': '4.69785886363742'}, {'date': '2020-01-01', 'value': '1.23358439630629'}, {'date': '2019-01-01', 'value': '1.81221007526021'}, {'date': '2018-01-01', 'value': '2.44258329692817'}, {'date': '2017-01-01', 'value': '2.13011000365961'}, {'date': '2016-01-01', 'value': '1.26158320570536'}, {'date': '2015-01-01', 'value': '0.118627135552451'}, {'date': '2014-01-01', 'value': '1.62222297740817'}, {'date': '2013-01-01', 'value': '1.46483265562717'}, {'date': '2012-01-01', 'value': '2.06933726526067'}, {'date': '2011-01-01', 'value': '3.156841568622'}, {'date': '2010-01-01', 'value': '1.6400434423899'}, {'date': '2009-01-01', 'value': '-0.355546266299747'}, {'date': '2008-01-01', 'value': '3.839100296651'}, {'date': '2007-01-01', 'value': '2.85267248150138'}, {'date': '2006-01-01', 'value': '3.22594410070404'}, {'date': '2005-01-01', 'value': '3.3927468454955'}, {'date': '2004-01-01', 'value': '2.67723669309172'}, {'date': '2003-01-01', 'value': '2.27009497336115'}, {'date': '2002-01-01', 'value': '1.58603162650601'}, {'date': '2001-01-01', 'value': '2.82617111885407'}, {'date': '2000-01-01', 'value': '3.37685727149929'}, {'date': '1999-01-01', 'value': '2.18802719697358'}, {'date': '1998-01-01', 'value': '1.55227909874364'}, {'date': '1997-01-01', 'value': '2.33768993730735'}, {'date': '1996-01-01', 'value': '2.93120419993441'}, {'date': '1995-01-01', 'value': '2.80541968853662'}, {'date': '1994-01-01', 'value': '2.60744159215453'}, {'date': '1993-01-01', 'value': '2.95165696638559'}, {'date': '1992-01-01', 'value': '3.02881967814969'}, {'date': '1991-01-01', 'value': '4.23496396453849'}, {'date': '1990-01-01', 'value': '5.39795643990325'}, {'date': '1989-01-01', 'value': '4.82700303008944'}, {'date': '1988-01-01', 'value': '4.07774110744413'}, {'date': '1987-01-01', 'value': '3.6645632175169'}, {'date': '1986-01-01', 'value': '1.89804772234276'}, {'date': '1985-01-01', 'value': '3.54564415209365'}, {'date': '1984-01-01', 'value': '4.30053547523429'}, {'date': '1983-01-01', 'value': '3.21243523316065'}, {'date': '1982-01-01', 'value': '6.13142700027493'}, {'date': '1981-01-01', 'value': '10.3347153402771'}, {'date': '1980-01-01', 'value': '13.5492019749684'}, {'date': '1979-01-01', 'value': '11.2544711292795'}, {'date': '1978-01-01', 'value': '7.63096383885606'}, {'date': '1977-01-01', 'value': '6.5016839947284'}, {'date': '1976-01-01', 'value': '5.74481263549085'}, {'date': '1975-01-01', 'value': '9.14314686496535'}, {'date': '1974-01-01', 'value': '11.0548048048048'}, {'date': '1973-01-01', 'value': '6.17776006377038'}, {'date': '1972-01-01', 'value': '3.27227824655283'}, {'date': '1971-01-01', 'value': '4.29276668813051'}, {'date': '1970-01-01', 'value': '5.83825533848251'}, {'date': '1969-01-01', 'value': '5.46238620028745'}, {'date': '1968-01-01', 'value': '4.27179615288537'}, {'date': '1967-01-01', 'value': '2.77278562259309'}, {'date': '1966-01-01', 'value': '3.0150753768844'}, {'date': '1965-01-01', 'value': '1.58516926383662'}, {'date': '1964-01-01', 'value': '1.27891156462591'}, {'date': '1963-01-01', 'value': '1.23966942148753'}, {'date': '1962-01-01', 'value': '1.19877334820186'}, {'date': '1961-01-01', 'value': '1.07072414764724'}, {'date': '1960-01-01', 'value': '1.45797598627791'}]}

In [ ]:
https://api.worldbank.org/v2/country/vn/indicator/SP.POP.TOTL?date=2020&format=json

In [33]:
base_inflation_url = 'https://api.worldbank.org/v2/country/US/indicator/FP.CPI.TOTL.ZG?date=1950:2023&format=json&page=2'
COUNTRY_CODE = 'USA'
START_YEAR = 1950
END_YEAR = 2025
page = 1

In [34]:
full_url = f'https://api.worldbank.org/v2/country/{COUNTRY_CODE}/indicator/SP.POP.TOTL?date={START_YEAR}:{END_YEAR}&format=json'
import asyncio
import aiohttp
import pandas as pd
import json

async def fetch_data(session, url):
    async with session.get(url) as response:
        return await response.json()

async def main():
    async with aiohttp.ClientSession() as session:
        data = await fetch_data(session, full_url)
        # df = pd.json_normalize(data)
        # print(df)
        return data

In [41]:
import requests
response = requests.get(full_url)

In [44]:
type(response.content)

bytes

In [37]:
page = response.json()

In [40]:
page[1]

[{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2024',
  'value': 340110988,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2023',
  'value': 336806231,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2022',
  'value': 334017321,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2021',
  'value': 332099760,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2020',
  'value': 331577720,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2019',
  'value': 330226227,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2018',
  'value': 328529577,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2017',
  'value': 326608609,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2016',
  'value': 324353340,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2015',
  'value': 321815121,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2014',
  'value': 319257560,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2013',
  'value': 316726282,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2012',
  'value': 314339099,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2011',
  'value': 311839461,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2010',
  'value': 309378227,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2009',
  'value': 306771529,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2008',
  'value': 304093966,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2007',
  'value': 301231207,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2006',
  'value': 298379912,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2005',
  'value': 295516599,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2004',
  'value': 292805298,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2003',
  'value': 290107933,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2002',
  'value': 287625193,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2001',
  'value': 284968955,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '2000',
  'value': 282162411,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1999',
  'value': 279040000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1998',
  'value': 275854000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1997',
  'value': 272657000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1996',
  'value': 269394000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1995',
  'value': 266278000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1994',
  'value': 263126000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1993',
  'value': 259919000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1992',
  'value': 256514000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1991',
  'value': 252981000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1990',
  'value': 249623000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1989',
  'value': 246819000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1988',
  'value': 244499000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1987',
  'value': 242289000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1986',
  'value': 240133000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1985',
  'value': 237924000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1984',
  'value': 235825000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1983',
  'value': 233792000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1982',
  'value': 231664000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1981',
  'value': 229466000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1980',
  'value': 227225000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1979',
  'value': 225055000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1978',
  'value': 222585000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1977',
  'value': 220239000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1976',
  'value': 218035000,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
  'country': {'id': 'US', 'value': 'United States'},
  'countryiso3code': 'USA',
  'date': '1975',
  'value': 215973000,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [ ]:
import requests

url = "https://api.worldbank.org/v2/country/USA/indicator/FP.CPI.TOTL.ZG?date=1950:2025&format=json"
r = requests.get(url)
data = r.json()[1]  # phần dữ liệu

2024 2.94952520485207 <class 'float'>
2023 4.11633838374488 <class 'float'>
2022 8.00279982052121 <class 'float'>
2021 4.69785886363742 <class 'float'>
2020 1.23358439630629 <class 'float'>

In [47]:
df = pd.DataFrame(data)

In [48]:
df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2024,2.949525,,,1
1,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2023,4.116338,,,1
2,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2022,8.002800,,,1
3,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2021,4.697859,,,1
4,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2020,1.233584,,,1

In [49]:
df = df.dropna()
df

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2024,2.949525,,,1
1,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2023,4.116338,,,1
2,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2022,8.002800,,,1
3,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2021,4.697859,,,1
4,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2020,1.233584,,,1
5,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2019,1.812210,,,1
6,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2018,2.442583,,,1
7,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2017,2.130110,,,1
8,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2016,1.261583,,,1
9,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2015,0.118627,,,1
10,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2014,1.622223,,,1
11,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2013,1.464833,,,1
12,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2012,2.069337,,,1
13,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2011,3.156842,,,1
14,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2010,1.640043,,,1
15,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2009,-0.355546,,,1
16,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2008,3.839100,,,1
17,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2007,2.852672,,,1
18,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2006,3.225944,,,1
19,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2005,3.392747,,,1
20,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2004,2.677237,,,1
21,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2003,2.270095,,,1
22,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2002,1.586032,,,1
23,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2001,2.826171,,,1
24,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,2000,3.376857,,,1
25,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1999,2.188027,,,1
26,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1998,1.552279,,,1
27,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1997,2.337690,,,1
28,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1996,2.931204,,,1
29,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1995,2.805420,,,1
30,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1994,2.607442,,,1
31,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1993,2.951657,,,1
32,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1992,3.028820,,,1
33,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1991,4.234964,,,1
34,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1990,5.397956,,,1
35,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1989,4.827003,,,1
36,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1988,4.077741,,,1
37,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1987,3.664563,,,1
38,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1986,1.898048,,,1
39,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1985,3.545644,,,1
40,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1984,4.300535,,,1
41,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1983,3.212435,,,1
42,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1982,6.131427,,,1
43,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1981,10.334715,,,1
44,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1980,13.549202,,,1
45,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1979,11.254471,,,1
46,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1978,7.630964,,,1
47,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1977,6.501684,,,1
48,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1976,5.744813,,,1
49,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'US', 'value': 'United States'}",USA,1975,9.143147,,,1